<!DOCTYPE html>
<html>
  <head>
    <title>Justindunn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='star-field'>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <%= yield %>
  </body>
</html>
