<!DOCTYPE html>
<html>
  <head>
    <title>Justindunn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "custom" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='star-field'>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class='position-relative'>
      <%= link_to 'Login', new_user_session_path, class: 'position-absolute top-10 start-100 translate-middle p-2 text-white' %>
    </div>
    <%= yield %>

  </body>
</html>
